=form_for(@service) do |f|

  = render :partial => 'shared/form_error_messages', :locals => { :item => @service }

  %div.label
    =f.label :title
  %div.field
    =f.text_field :title

  %div.label
    =f.label :description
  %div.field
    =f.text_area :description, :rows => 3

  %div.label
    &nbsp;
  %div.field
    = f.submit
