%h1.up_status
  UP Status
  %span.title
    Services List

- @services.each do |service|
  %div.content
    %ul
      %li
        =service.title
        =link_to image_tag("/images/edit.png", :border => 0), edit_service_path(service), :title => "Edit #{service.title}"
        =link_to image_tag("/images/trash.png", :border => 0), service, :confirm => 'Are you sure?', :method => :delete, :title => "Destroy #{service.title}"
        %ul.details
          %li
            =service.description

%div.link_bar
  =link_to "New Service", new_service_path
