%h1 UP Status Dashboard

- if Admin.should_register
  You should sign up for an admim account:
  =link_to "sign up form", '/admins/sign_up'

%h3 Status:

%ul
  - @services.each do |service|
    %li
      = service.title
      = status(service)

%hr


%h3 Services description:

%ul
  - @services.each do |service|
    %li
      = service.title
      %ul
        %li
          = service.description
