%h1.up_status 
  UP Status
  %span.title
    Dashboard

%h3.up_status.title Status:
%div.content
  = render :partial => 'services_status'

%h3.up_status.title Current Issues
%div.content
  = render :partial => 'current_issues_list'


%h3.up_status.title Services description:
%div.content
  = render :partial => 'services_description'
