%h3 Issues List

%ul
  -@issues.each do |issue|
    %li
      %b
        =issue.service.title
        *
        =issue.title
      %ul.details
        %li
          ="Severity: #{issue.severity}"
        %li
          ="Resolved: #{issue.resolved}"
          ="on #{issue.time_up}" if issue.resolved

=link_to "Back to Dashboard", root_path

=link_to "New Issue", new_issue_path if current_admin
