body {
  font-family: verdana, arial, helvetica, sans-serif;
  background-color: #2371a5;
}

.up_status {
  width: 750px;
  margin: 1em auto auto auto;
  color: #fff8d4;
}

.content, .admin_link_bar, .link_bar, .notice, .alert {
  margin: 1.25em auto auto auto;
  padding: 1em;
  width: 750px;
  background-color: #fff8d4;
  border: solid #0b3c5f 3px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

.link_bar, .admin_link_bar, .notice, .alert {
  background-color: #ffdcaa;
}

.admin_link_bar ul {
  margin: 0;
  padding: 1em;
}

.admin_link_bar li {
  font-size: 15px;
  display: inline;
  list-style-type: none;
}

.notice {
  color: green;
  text-align: center;
}

.alert {
  color: orange;
  text-align: center;
}

.red, #errorExplanation {
  color: red;
}

.green {
  color: green;
}

.details {
  font-size: 13px;
  color: gray;
  list-style-type: none;
  list-style-image: none;
}

.severity_1 {
  list-style-image: url(/images/severity_1.png);
}

.severity_2 {
  list-style-image: url(/images/severity_2.png);
}

.severity_3 {
  list-style-image: url(/images/severity_3.png);
}

.severity_4 {
  list-style-image: url(/images/severity_4.png);
}

.severity_5 {
  list-style-image: url(/images/severity_5.png);
}

.red_status {
  list-style-image: url(/images/red_status.png);
}

.green_status {
  list-style-image: url(/images/green_status.png);
}

.label {
  width: 200px;
  float: left;
  text-align: right;
  padding-right: 1em;
}           

.field {
  margin-bottom: 0.5em;
}

