%h1.up_status UP Status - Sign in

%div.content
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %p
      %div.label
        =f.label :email
      %div.field
        =f.text_field :email

    %p
      %div.label
        =f.label :password
      %div.field
        =f.password_field :password 

    %p
      = f.submit "Sign in"

%div.link_bar
  = render :partial => "devise/shared/links"
